In [6]:
import pandas as pd
import numpy as np

In [8]:
data = pd.read_csv('Ele_Store1.csv')
df=data.copy()

In [9]:
#1) Query the list of columns?
df.columns

Index(['OrderID', 'OrderDate', 'UnitCost', 'Price', 'OrderQty', 'CostofSales',
       'Sales', 'Profit', 'Channel', 'PromotionName', 'ProductName',
       'Manufacturer', 'ProductSubCategory', 'ProductCategory', 'Region',
       'City', 'Country'],
      dtype='object')

In [10]:
#2) Query the top 5 rows?
df.head()

,OrderID,OrderDate,UnitCost,Price,OrderQty,CostofSales,Sales,Profit,Channel,PromotionName,ProductName,Manufacturer,ProductSubCategory,ProductCategory,Region,City,Country
0,7077,13-09-2017,76.094968,304.00,9,684.854710,2714.7200,2029.865290,Store,European Spring Promotion,Contoso SLR Camera M143 Grey,"Contoso, Ltd",Digital SLR Cameras,Cameras and camcorders,Europe,Moscow,Russia
1,117,14-09-2017,7.491753,12.99,4,29.967011,50.1414,20.174389,Store,European Spring Promotion,Contoso 512MB MP3 Player E51 Blue,"Contoso, Ltd",MP4&MP3,Audio,Europe,Moscow,Russia
2,7018,15-09-2017,10.122338,159.99,9,91.101039,1395.1128,1304.011761,Store,European Spring Promotion,Contoso DVD 9-Inch Player Portable M300 Silver,"Contoso, Ltd",Movie DVD,"Music, Movies and Audio Books",Europe,Moscow,Russia
3,140,16-09-2017,0.576153,25.69,18,10.370759,462.4200,452.049241,Store,North America Spring Promotion,NT Bluetooth Stereo Headphones E52 Pink,Northwind Traders,Bluetooth Headphones,Audio,North America,Bellevue,United States
4,491,17-09-2017,108.508777,304.00,9,976.578991,2614.4000,1637.821009,Online,Asian Spring Promotion,Contoso SLR Camera M143 Grey,"Contoso, Ltd",Digital SLR Cameras,Cameras and camcorders,Asia,Beijing,China

In [11]:
#3) Query the bottom 5 rows?
df.tail()

,OrderID,OrderDate,UnitCost,Price,OrderQty,CostofSales,Sales,Profit,Channel,PromotionName,ProductName,Manufacturer,ProductSubCategory,ProductCategory,Region,City,Country
14995,22348,03-10-2058,16.240455,25.0,12,194.885455,300.0,105.114545,Store,Asian Summer Promotion,Contoso USB Cable M250 Blue,"Contoso, Ltd",Cameras & Camcorders Accessories,Cameras and camcorders,Asia,Osaka,Japan
14996,22349,04-10-2058,55.387212,999.0,10,553.872121,9990.0,9436.127879,Reseller,No Discount,WWI Projector 720p DLP56 White,Wide World Importers,Projectors & Screens,Computers,Europe,Paris,France
14997,22350,05-10-2058,363.634986,588.0,13,4727.254816,7408.8,2681.545184,Store,North America Holiday Promotion,"A. Datum SLR Camera 35"" X358 Gold",A. Datum Corporation,Digital SLR Cameras,Cameras and camcorders,North America,Ithaca,United States
14998,22351,06-10-2058,113.237461,279.0,12,1358.849536,3348.0,1989.150464,Online,Asian Summer Promotion,Adventure Works LCD20W M240 Black,Adventure Works,Monitors,Computers,Asia,Beijing,China
14999,22352,07-10-2058,10.936943,15.9,20,218.738862,318.0,99.261138,Store,No Discount,Contoso USB Wave Multi-media Keyboard E280 Black,"Contoso, Ltd",Computers Accessories,Computers,North America,Spring,United States

In [15]:
#4) How many total number of orders placed?
df['OrderID'].count()

15000

In [16]:
#5) What are the unique channels present and how many are there?
df['Channel'].unique()

array(['Store', 'Online', 'Reseller', 'Catalog'], dtype=object)

In [19]:
#6) How many cities are there?
df['City'].nunique()

263

In [44]:
#7) Query the unique Countries and count of the countries? 
df[['Country','City']].nunique()

Country     34
City       263
dtype: int64

In [50]:
#8) Query the unique Regions and count of the regions?
print(df['Region'].unique())
df[['OrderID','Region']].groupby('Region',as_index=False).count()

['Europe' 'North America' 'Asia']

          Region  OrderID
0           Asia     3050
1         Europe     3081
2  North America     8869

In [57]:
#9) Query the total cities count by Country and order it from highest count to lowest count?
df[['Country','City']].groupby('Country').nunique().sort_values('City',ascending=False)

                 City
Country
United States     177
United Kingdom     15
Germany            10
France              7
Canada              6
Japan               6
China               5
Italy               5
Russia              3
India               3
South Korea         2
Australia           2
Switzerland         1
Spain               1
Sweden              1
Armenia             1
Syria               1
Taiwan              1
Slovenia            1
Turkmenistan        1
Thailand            1
Poland              1
Singapore           1
Romania             1
Portugal            1
Pakistan            1
Malta               1
Kyrgyzstan          1
Ireland             1
Iran                1
Greece              1
Denmark             1
Bhutan              1
the Netherlands     1

In [66]:
#10)How many products are there? Display count of products
print("total unique products: ",df['ProductName'].nunique())
df[['OrderID','ProductName']].groupby('ProductName').nunique()

total unique products:  1638

                                                    OrderID
ProductName
A. Datum Advanced Digital Camera M300 Azure               7
A. Datum Advanced Digital Camera M300 Black              10
A. Datum Advanced Digital Camera M300 Green               7
A. Datum Advanced Digital Camera M300 Grey               12
A. Datum Advanced Digital Camera M300 Orange             10
...                                                     ...
WWI Wireless Transmitter and Bluetooth Headphon...        4
WWI Wireless Transmitter and Bluetooth Headphon...        6
WWI Wireless Transmitter and Bluetooth Headphon...        6
WWI Wireless Transmitter and Bluetooth Headphon...        4
WWI Wireless Transmitter and Bluetooth Headphon...        5

[1638 rows x 1 columns]

In [73]:
#11)Query the total sales and total profit?
df['Sales'] = df['Sales'].astype('int64')
df['Profit'] = df['Profit'].astype('int64')
df[['Sales','Profit']].apply(pd.to_numeric).sum()

Sales     55387066
Profit    31580196
dtype: int64

In [74]:
#12)Query the total sales by region and country?
df[['Region','Country','Sales']].groupby(['Region','Country']).sum()

                                  Sales
Region        Country
Asia          Armenia            172925
              Australia          632598
              Bhutan             161281
              China             7557410
              India              598363
              Iran               367920
              Japan              958245
              Kyrgyzstan         127100
              Pakistan           296543
              Singapore           99207
              South Korea        250583
              Syria              329647
              Taiwan             188992
              Thailand           258225
              Turkmenistan       412332
Europe        Denmark             79133
              France            2628148
              Germany           4314557
              Greece              68521
              Ireland             92108
              Italy              316844
              Malta              112281
              Poland              87817
              Portugal           126371
              Romania            102266
              Russia             434197
              Slovenia            79872
              Spain              143424
              Sweden              78097
              Switzerland         99349
              United Kingdom    1324092
              the Netherlands    107733
North America Canada            1148204
              United States    31632681

In [78]:
#13)Query the total order qty by promotion name?
df[['PromotionName','OrderQty']].groupby('PromotionName').sum()

                                        OrderQty
PromotionName
Asian Holiday Promotion                    17004
Asian Spring Promotion                     10980
Asian Summer Promotion                      9768
European Back-to-Scholl Promotion           7363
European Holiday Promotion                 12328
European Spring Promotion                  13205
No Discount                                80062
North America Back-to-School Promotion     39393
North America Holiday Promotion            30392
North America Spring Promotion             30631

In [83]:
#14)Query the top 7 countries with sales from highest to lowest order?
df[['Country','Sales']].groupby('Country').sum().sort_values('Sales',ascending=False).head(7)

                   Sales
Country
United States   31632681
China            7557410
Germany          4314557
France           2628148
United Kingdom   1324092
Canada           1148204
Japan             958245

In [84]:
df.Region.unique()

array(['Europe', 'North America', 'Asia'], dtype=object)

In [90]:
#15)How much the total sales happened in Asia region?
df[df['Region']=='Asia']['Sales'].sum()

12411371

In [95]:
#16)How much total sales happened in Asia region and India?
df[(df['Region']=='Asia') & (df['Country'].str.lower()=='india')]['Sales'].sum()

598363

In [96]:
#17) How much profit got in Europe region and Denmark country?
df[(df['Region']=='Europe') & (df['Country'].str.lower()=='denmark')]['Profit'].sum()

45174

In [99]:
#18) Query the total order qty by Manufacturer and Product Name?
df[['Manufacturer','ProductName','OrderQty']].groupby(['Manufacturer','ProductName']).sum()

                                                                         OrderQty
Manufacturer         ProductName
A. Datum Corporation A. Datum Advanced Digital Camera M300 Azure               77
                     A. Datum Advanced Digital Camera M300 Black              142
                     A. Datum Advanced Digital Camera M300 Green               96
                     A. Datum Advanced Digital Camera M300 Grey               207
                     A. Datum Advanced Digital Camera M300 Orange             115
...                                                                           ...
Wide World Importers WWI Wireless Transmitter and Bluetooth Headphon...        45
                     WWI Wireless Transmitter and Bluetooth Headphon...        65
                     WWI Wireless Transmitter and Bluetooth Headphon...        60
                     WWI Wireless Transmitter and Bluetooth Headphon...        60
                     WWI Wireless Transmitter and Bluetooth Headphon...        48

[1638 rows x 1 columns]

In [103]:
#19)Query the top 7 products with orderqty and sales and show it descending order based on total orderqty?
df.columns
df[['ProductName','OrderQty','Sales']].groupby('ProductName').sum().sort_values('OrderQty',ascending=False)

                                                    OrderQty  Sales
ProductName
Contoso In-Line Coupler E180 Silver                     6780  22691
Headphone Adapter for Contoso Phone E130 Silver         4680  46727
Contoso Rubberized Snap-On Cover Hard Case Cell...      4580  21693
Contoso In-Line Coupler E180 White                      4060  13584
Contoso Rubberized Skin BlackBerry E100 Silver          3560  53313
...                                                      ...    ...
WWI Desktop PC2.33 X2330 White                             6   5422
Contoso Primary Extended Capacity Battery Pack ...         6    203
Contoso Wireless Notebook Optical Mouse X205 Or...         6    766
Proseware LCD24 X300 White                                 6   4914
Contoso Macro Zoom Lens X300 Silver                        6   2199

[1638 rows x 2 columns]

In [107]:
#20) Query the total order quantity greater than 10000 by city?
df[['City','OrderQty']].groupby('City').sum().query('OrderQty>10000')

               OrderQty
City
Beijing           30547
Berlin            13841
Bethesda          20498
North Harford     24806
Seattle           12174

In [110]:
#21)Query the total sales less than 1000 by product, display it in ascending order?
df[['ProductName','Sales']].groupby('ProductName').sum().query('Sales<1000').sort_values('Sales',ascending=False)

                                                    Sales
ProductName
Contoso Reserve Pen - Tablet Pen E200 Grey            995
Contoso Education Essentials Bundle M300 White        992
Contoso Phone with Memory Dialing-2 lines E90 B...    960
Contoso Wireless Notebook Optical Mouse M35 Silver    948
Contoso General Soft Carrying Case E318 Blue          927
Contoso Desktop Alternative Bundle E200 Grey          912
Contoso Private Branch Exchange M88 White             910
Contoso Cyber Shot Digital Cameras Adapter E306...    900
Contoso Laptop Starter Bundle M200 Black              898
Contoso Laptop Starter Bundle M200 Grey               890
Contoso General Soft Carrying Case E318 Silver        866
Contoso Laptop Starter Bundle M200 White              835
SV DVD 38 DVD Storage Binder E25 Silver               805
Contoso Lens cap E80 Black                            778
Contoso Wireless Notebook Optical Mouse X205 Or...    766
Contoso Lens Cap Keeper E314 White                    743
SV DVD 58 DVD Storage Binder M55 Silver               736
SV DVD Player M130 Grey                               713
Contoso Reserve Pen - Tablet Pen E200 White           678
Contoso ADSL Modem Splitter/Filter X 1 E100 White     678
Contoso Smart Battery M901 Black                      670
Contoso USB Wave Multi-media Keyboard E280 Blue       670
Contoso USB Optical Mouse E200 Gold                   668
Contoso DVD Player M140 Gold                          609
Contoso Lens cap E80 White                            599
Contoso Smart Battery M901 Blue                       546
Contoso Education Supplies Bundle E200 Black          530
Contoso Digital Camera Accessory kit M200 Blue        525
Contoso Digital Cameras Lightweight Tripod E316...    521
Contoso General Carrying Case E304 White              509
Contoso DVD Player M100 Black                         504
Contoso Lens Cap Keeper E314 Silver                   414
Contoso 4-Line Corded Cordless Telephone M203 Grey    395
Contoso Wireless Notebook Optical Mouse M35 Orange    383
Contoso Phone with Memory Dialing-2 lines E90 Grey    382
Contoso Ultraportable Neoprene Sleeve E30 Green       334
Contoso Reserve Pen - Tablet Pen E200 Black           332
Contoso Digital Cordless Expansion Handset Phon...    329
Contoso Wireless Notebook Optical Mouse M35 White     299
Contoso Digital Cordless Expansion Handset Phon...    293
Contoso USB Wave Multi-Media Keyboard M901 Gold       259
Contoso Primary Extended Capacity Battery Pack ...    203
SV USB Data Cable E600 Silver                         199
SV USB Sync Charge Cable E700 White                   169
SV USB Sync Charge Cable E700 Black                   158
SV USB Sync Charge Cable E700 Blue                    140
SV USB Data Cable E600 Black                          121
SV USB Data Cable E600 Pink                            98
SV USB Sync Charge Cable E700 Silver                   63
SV USB Data Cable E600 Grey                            45

In [112]:
#22)Query the total profit greater than 200000 by product, display it in descending order?
df[['ProductName','Profit']].groupby('ProductName').sum().query('Profit>200000').sort_values('Profit',ascending=False)

                                        Profit
ProductName
Contoso Projector 1080p X980 White      320507
Proseware Projector 1080p LCD86 White   315372
Contoso Projector 1080p X980 Black      252646
Proseware Projector 1080p LCD86 Black   232548
Proseware Projector 1080p DLP86 Silver  228818
Proseware Projector 1080p DLP86 Black   208701

In [115]:
#23) How much total sales happened in China and Beijing?
df[(df['Country'] == 'China') & (df['City'] == 'Beijing')]['Sales'].sum()

6596486

In [118]:
#24) How much total sales happened in Asian Holiday Promotion?
df[df['PromotionName']=='Asian Holiday Promotion']['Sales'].sum()

3614882

In [122]:
#25) How much total profit value by Contoso, Ltd Manufacturer?
df[df['Manufacturer'] == 'Contoso, Ltd']['Profit'].sum()

5667802

In [126]:
#26) Query the total sales and total order qty by product category and order it by 
#Orderqty from highest to lowest?

df[['ProductCategory','Sales','OrderQty']].groupby(['ProductCategory']).sum().sort_values('OrderQty',ascending=False)

                                  Sales  OrderQty
ProductCategory
Cell phones                     5840259     96074
Computers                      21305534     69425
Cameras and camcorders         17048001     43893
TV and Video                    9107330     22714
Music, Movies and Audio Books   1056917      9953
Audio                           1029025      9067

In [129]:
#27) Query the total sales value in between 1057 and 26700 by Region?
df[(df['Sales']<=26700) & (df['Sales']>=1057) ][['Region','Sales']].groupby('Region').sum()

                  Sales
Region
Asia           10767206
Europe          9330829
North America  29289136

In [135]:
#28) How many orders placed in Pittsfield city?
df[df['City']=='Pittsfield']['OrderID'].count()

31

In [136]:
#29) Query the total sales and total profit by region, country and city?
df[['Region','Country','City','Sales','Profit']].groupby(['Region','Country','City']).sum()

                                           Sales   Profit
Region        Country       City
Asia          Armenia       Yerevan       172925   111945
              Australia     Canberra      211226    93825
                            Sydney        421372   250349
              Bhutan        Thimphu       161281    88154
              China         Beijing      6596486  3809330
...                                          ...      ...
North America United States Waukesha      195375    95528
                            Wheat Ridge   129559    57928
                            Winchester     94255    52598
                            Worcester     183929   108668
                            Yakima        100836    70783

[263 rows x 2 columns]

In [138]:
#30) Query the total unit cost and total price by productcategory, productsubcategory and Manufacturer?
df[['ProductCategory','ProductSubCategory','Manufacturer','UnitCost','Price']].groupby(['ProductCategory','ProductSubCategory','Manufacturer']).sum()

                                                                                          UnitCost  \
ProductCategory               ProductSubCategory               Manufacturer
Audio                         Bluetooth Headphones             Northwind Traders       4694.140924
                                                               Wide World Importers    5348.553816
                              MP4&MP3                          Contoso, Ltd           15180.676953
                              Recording Pen                    Wide World Importers   10165.599158
Cameras and camcorders        Camcorders                       Fabrikam, Inc.        286756.395516
                              Cameras & Camcorders Accessories Contoso, Ltd           12221.056068
                              Digital Cameras                  A. Datum Corporation   88363.414849
                              Digital SLR Cameras              A. Datum Corporation   55606.839775
                                                               Contoso, Ltd           61069.829295
                                                               Fabrikam, Inc.         64966.210095
Cell phones                   Cell phones Accessories          Contoso, Ltd            1526.510851
                              Home & Office Phones             Contoso, Ltd           12044.658547
                              Smart phones & PDAs              The Phone Company     103969.796452
                              Touch Screen Phones              Contoso, Ltd           12851.720868
                                                               The Phone Company      55433.985480
Computers                     Computers Accessories            Contoso, Ltd           16153.021031
                                                               Southridge Video       12789.845684
                              Desktops                         Adventure Works        43576.939570
                                                               Wide World Importers   31821.889351
                              Laptops                          Adventure Works        93609.664408
                                                               Fabrikam, Inc.         52102.113425
                                                               Proseware, Inc.        26831.171937
                                                               Wide World Importers   45528.259167
                              Monitors                         Adventure Works        23132.559566
                                                               Proseware, Inc.        17530.704507
                                                               Wide World Importers   22386.928271
                              Printers, Scanners & Fax         Proseware, Inc.        65123.253204
                              Projectors & Screens             Contoso, Ltd           78241.936027
                                                               Proseware, Inc.        99812.740227
                                                               Wide World Importers   62842.407007
Music, Movies and Audio Books Movie DVD                        Contoso, Ltd           16690.866047
                                                               Southridge Video       17559.035965
TV and Video                  Car Video                        Southridge Video       84685.148227
                              Home Theater System              Contoso, Ltd           97944.784475
                                                               Litware, Inc.          87195.387626
                              Televisions                      Adventure Works        71821.432011
                              VCD & DVD                        Southridge Video        8797.508772

                                                                                         Price
ProductCategory               ProductSubCategory               Manufacturer
Audio                         Bluetooth Headphones             Northwind Traders      10698.36
                                                               Wide World Importers   12740.88
                              MP4&MP3                          Contoso, Ltd           37464.56
                              Recording Pen                    Wide World Importers   22585.30
Cameras and camcorders        Camcorders                       Fabrikam, Inc.        705377.00
                              Cameras & Camcorders Accessories Contoso, Ltd           26301.12
                              Digital Cameras                  A. Datum Corporation  210914.00
                              Digital SLR Cameras              A. Datum Corporation  148662.00
                                                               Contoso, Ltd          155672.00
                                                               Fabrikam, Inc.        174022.20
Cell phones                   Cell phones Accessories          Contoso, Ltd            3530.08
                              Home & Office Phones             Contoso, Ltd           27389.09
                              Smart phones & PDAs              The Phone Company     239147.00
                              Touch Screen Phones              Contoso, Ltd           27104.00
                                                               The Phone Company     130579.00
Computers                     Computers Accessories            Contoso, Ltd           35657.80
                                                               Southridge Video       24305.89
                              Desktops                         Adventure Works        89568.35
                                                               Wide World Importers   64659.00
                              Laptops                          Adventure Works       224875.55
                                                               Fabrikam, Inc.        127405.35
                                                               Proseware, Inc.        59963.95
                                                               Wide World Importers  119908.70
                              Monitors                         Adventure Works        54600.00
                                                               Proseware, Inc.        42299.00
                                                               Wide World Importers   58944.00
                              Printers, Scanners & Fax         Proseware, Inc.       155502.00
                              Projectors & Screens             Contoso, Ltd          198399.00
                                                               Proseware, Inc.       259541.00
                                                               Wide World Importers  146677.00
Music, Movies and Audio Books Movie DVD                        Contoso, Ltd           44897.45
                                                               Southridge Video       42566.69
TV and Video                  Car Video                        Southridge Video      179049.00
                              Home Theater System              Contoso, Ltd          205953.00
                                                               Litware, Inc.         187306.80
                              Televisions                      Adventure Works       174949.73
                              VCD & DVD                        Southridge Video       18504.60